.well {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
  padding: 1.25rem;
  margin-bottom: 20px;
  background-color: #fff;
}

:root {
  --blue: #367bb6;
}
.header-text {
  color: red;
  font-size: 2em;
}
.bg-blue {
  background-color: var(--blue);
  color: white;
}

.border-blue {
  border-color: var(--blue) !important;
}

.full-width {
  width: 100%;
  text-align: left;
}

#schedule-option {
  padding-top: 1%;
  padding-bottom: 1%;
}
.schedule-date {
  color: #5a5a5a;
  width: 100%;
}
#myRangeNum {
  width: 100%;
}

.width-100 {
  width: 100%;
}
